<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active"><span>AsiaCity.ec</span></a>
        <a class="nav-item nav-link" routerLink="index"><img src="https://image.flaticon.com/icons/png/512/2230/2230695.png" widht="50" height="50" alt=""></a>
        <a class="nav-item nav-link" routerLink="index"><img src="https://image.flaticon.com/icons/png/512/4634/4634875.png" widht="50" height="50" alt=""></a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
  </nav>
  <br>
  <br>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  

</body>
</html>
